@font-face{
	font-family: 'Oxygen';
	src: url(../fonts/Oxygen-Regular.ttf);
}

a{color: white;}


	.encart_concours{text-align: center; width: 400px; display: inline-block; margin:40px; padding: 40px; border-radius: 10px; background-image:url(../image/background_inscription.png); background-size: 500px;}
		.encart_concours h1{margin-bottom: 30px;}
		#fb_connect_bt{}
		.encart_concours form{ text-align: center; margin-top:40px;}
			.encart_concours input[type='text']{text-align: center; width: 245px; height:25px; border-radius: 2px; margin-bottom:10px; border: none;}
			.encart_concours input[type='submit']{display: block; margin: 25px auto 0 auto!important; height:25px; width: 90px; padding: inherit;}
			.form_ligne{margin: 10px auto; vertical-align: bottom;}
				.form_ligne label{margin-right: 3px;}
				.form_ligne label, .form_ligne input{display: inline-block;}

			.encart_concours #form_city{margin-bottom: 10px;}
			.label_checkbox{text-align: left;}