@font-face{
	font-family: 'Oxygen';
	src: url(../fonts/Oxygen-Regular.ttf);
}

a{color: white;}


.encart_concours{
    text-align: center;
    margin:auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    background: url(../image/background_inscription.png) no-repeat;
    background-size: cover !important;
    background-size: 500px;
    position: relative;
    color: #302e36;
}
.encart_concours h1{
    margin-bottom: 30px;
    background-color: #e5ceb1;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #9f6b44;
    padding: 5px;
}
#fb_connect_bt{}
.encart_concours form{ text-align: center; margin-top:40px;}
.encart_concours input[type='text']{text-align: center; width: 245px; height:25px; border-radius: 2px; margin-bottom:10px; border: none;}

.encart_concours input[type='submit']{
    display: block;
    margin: 25px auto 0 auto!important;
    height: 50px;
    width: 290px;
    padding: inherit;
    border: none;
    font-size: 20px;
}

.form_ligne{margin: 10px auto 10px 0px; vertical-align: middle; position: relative;}
.form_ligne input[type="checkbox"]{position: absolute;}
.form_ligne label{margin-right: 3px;}
.form_ligne label, .form_ligne input{display: inline-block;}

.encart_concours #form_city{margin-bottom: 10px;}
.label_checkbox{text-align: left;}

.photo-facebook {
    float: left;
    margin: 50px;
}

.photo-params {
    height: 150px;
    width: auto;
}

.fb-albums-block {
    
}

td {
    padding: 5px;
}

.fb-profile-picture {
    width: auto;
    height: 80px;
    border-radius: 150px;
}

.fb-profile-picture-block {
    position: absolute;
    top: 25px;
    left: 25px;
}

.encart-participe-concours {
    margin-top: 100px;
}

.fb-album-photo {
    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 25px;
}

.fb-album-block {
    float: left;
    margin: 50px;
    height: 236px;
    width: 150px;
    color: #9197a3;
}

.fb-album-block a {
    cursor: pointer;
    text-decoration: underline;
    color: #3b5998;
}

.fb-album-text-block {
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
    border-left-color: grey;
    border-left-style: solid;
    border-left-width: 1px;
    
    border-right-color: grey;
    border-right-style: solid;
    border-right-width: 1px;
    
    padding: 8px;
    
    background-color: #eed4b7;
    border-radius: 25px;
}

tr {
    background-color: #eed4b7;
    border-width: 1px;
    border-style: solid;
    border-color: #9f6b44;
}

td {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #9f6b44;
}

.fb-profile-picture-text {
    border-width: 1px;
    border-style: solid;
    border-color: #9f6b44;
    display: inline;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    background-color: #eed4b7;
}

.fb-form-participate-infos {
    background-color: #eed4b7;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #9f6b44;
    padding: 15px;
    margin-top: 10px;
}

.fb-form-participate-submit {
    background-color: #eed4b7;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #9f6b44;
    padding: 5px;
    margin-top: 30px;
}